/*style sheet for the responsive grid

Gidi A. Abadiga, April 2016
*/
/*==== global styles ===== */
html {
    box-sizing: border-box;
/* control  box model behavior */
}

body {
    font-family: monospace;
    padding: 0;
    margin: 0;
    background-color: #ffe4c4;
}

/* wildcard selectors to style the whole*/
*,:before,* :after {
    box-sizing: inherit;
}

.grid {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

/* pseudo elements to control the look and behaviour of the grids*/
.grid:before,.grid:after,.row:before,.row:after {
    content: " ";
    display: table;
}

.grid:after,.row:after {
    clear: both;
}

/* pseudo elements to control the look and behaviour of the grids to different devices specified in media query*/
[class*="col-"] {
    width: 100%;
    float: left;
    min-height: 1px;
}

.col {
    padding: 1em;
    margin: 8px;
    background-color: #fff8dc;
    border-radius: 3px;
    color: #3a6a65;
    text-align: center;
}

/*======for the 12-columns grid cumulative apportioning
(x/12)*100 to identify breakpoints =================*/
@media only screen and (min-width: 768px) {
    /* for desktop */
    .col-wd-1 {
        width: 8.33333%;
    }

    .col-wd-2 {
        width: 16.66667%;
    }

    .col-wd-3 {
        width: 25%;
    }

    .col-wd-4 {
        width: 33.33333%;
    }

    .col-wd-5 {
        width: 41.66667%;
    }

    .col-wd-6 {
        width: 50%;
    }

    .col-wd-7 {
        width: 58.33333%;
    }

    .col-wd-8 {
        width: 66.66667%;
    }

    .col-wd-9 {
        width: 75%;
    }

    .col-wd-10 {
        width: 83.33333%;
    }

    .col-wd-11 {
        width: 91.66667%;
    }

    .col-wd-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    /*For tablets: */
    .col-md-1 {
        width: 8.33333%;
    }

    .col-md-2 {
        width: 16.66667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33333%;
    }

    .col-md-5 {
        width: 41.66667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33333%;
    }

    .col-md-8 {
        width: 66.66667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33333%;
    }

    .col-md-11 {
        width: 91.66667%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) {
    /*For smartphones: */
    .col-sm-1 {
        width: 8.33333%;
    }

    .col-sm-2 {
        width: 16.66667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33333%;
    }

    .col-sm-5 {
        width: 41.66667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33333%;
    }

    .col-sm-8 {
        width: 66.66667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33333%;
    }

    .col-sm-11 {
        width: 91.66667%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

/* end of apportioning cumulative space to the 12 columns for breakpoint according to viewport*/
/* ====== global style ends =======*/
/* ===specific styles begins===*/
.grid {
    background-color: #fff;
}

.logo {
    width: 100%;
    background-color: #fff;
    padding-bottom: 15px;
}

.sidebar {
    background-color: rgba(204,226,151,0.99);
    height: 820px;
}

#sidebar-header {
    font-family: Arial,sans-serif,georgia;
    font-size: 1.7em;
    text-align: center;
}

.header {
    width: 100%;
    font-family: Helvetica,georgia,sans-serif;
    font-size: 1.8em;
    text-align: left;
    color: #000;
    background-color: #9400d3;
    padding-top: 7px;
}

/* styling menu list*/
li {
    list-style-type: none;
    padding: 5px;
}

/*styling the sidebar menu link pseudo selectors (thought, it ain't a real link)*/
a:link {
    color: #211c1c;
}

a:visited {
    color: #3a6a65;
}

a:hover {
    color: #F60;
}

a:active {
    color: #B2F511;
}

/* applying styles on link buttons*/
.button {
    display: block;
    height: 60px;
    width: 80%;
    border: 2px solid rgba(33,68,72,0.59);
    background: #9400d3;
    text-align: center;
    text-decoration: none;
    font: bold 1.2em/100px "Helvetica Neue",Helvetica,sans-serif;
    background: linear-gradient(top,#34696f,#2f5f63);
/* color transition for buttons
                       down/up/left/right & diagonally*/
    border-radius: 60px;
    box-shadow: 0 8px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255,255,255,0.2);
}

/* =styling content and aligning their corresponding images=*/
.articles {
    font-family: Helvetica,"Times New Roman",Arial;
    font-size: 20px;
}

.article1 {
    margin-left: 20px;
    margin-right: 10px;
}

.article2 {
    margin-left: 5px;
    margin-right: 10px;
}

.article3 {
    margin-left: 5px;
    margin-right: 20px;
}

#imgArt1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imgArt2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imgArt3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aside {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#imgAside {
    float: right;
    padding: 3%;
}

/*--end of content --*/
.footer {
    font-family: "Helvetica Neue",monospace,sans-serif;
    background-color: #9400d3;
    font-size: 12px;
    font-weight: 400;
    padding: 20px 0 20px 10px;
}

/*--end of specific styles--*/